body{
	background-image: url(images_baitaplon/Nen1.png)
}
div {
	color: white;
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 700; 
	line-height: 22.5px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	
}
.section{
	
	width: 100%;
}
.container{
	width: 1180px;
	margin: 0 auto;
	height: 100%;

}
.section_1{
	width: 100%;
	height: 100px;
}
.section_1_left{
	float: left;
	height: 100%;
	width: 40%;
	text-align: center;
	margin-left: 50px; 
	margin: 0 auto;
}
.photo{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.photonics{
	float: right;
	margin-right: 205px;
	margin-top: 25px;
}
.photonics a{
  color: #325f70;
}
.section_1_right{
	float: right;
	height: 100%;
	width: 50%;
	margin: 15px;
	margin: 0 auto;

}
.lienhe{
	float: left;
	margin-top: 27px;
	text-align: left;
}
.lienhe1{
	color: #325f70;
	font-size: 17px;
}
.lienhe2{
	float: left;
	margin-left: 27px;
}
.lienhe2 a{
	color: #gray;
	text-decoration: underline;
}
              
.section_2{
	width: 100%;
	height: 35px;
	background-color: #000a52;
}
.search{
		margin-top: 25px;
	margin-right: 30px;
	float: right;
	
}
.search1{
	 margin: 10px;
     height: 30px;
     width: 230px;
     border-radius: 5px;
	
}
.search2 i{
	color: gray;
}
.search2{
	border-radius: 5px;
	margin: 10px;
	height: 30px;
	width: 60px;
	background-color: #ffffff;
}
.menu a{
	color: white;
	margin: 10px;
	font-size: 15px;
}
.menu{
    float: left;
    margin-top: 6px;
    margin-left: 100px;
}

.menu a:hover {
   text-decoration: underline;
}
.menu2 a:hover {
	text-decoration: underline;
}
.section_3{
	width: 100%;
	height: 24px;
	background-color: #000a52;
}
.menu2{
	margin-top: 5px;
	background-color: white;
	margin-left: 100px;
}
.menu22{
	background-color: #ffffff;
}
.menu2 a{
	color: #325f70;
	text-align: center;
	margin: 10px;
}
.section_4{
	width: 100%;
	height: 400px;
	background-color: white;
}
.section_4_left{
	text-align: left;
	float: left;
	height: 100%;
	width: 50%;
	background-color: white;
}
	

.Nikon{
	margin-top: 40px;
	padding: 35px;
}
.Nikon a{
  color: #7594a0;
  font-size: 25px;
.
}
.button{
	height: 50px;
	width: 150px;
	border-radius: 5px;
}
.button1 a{
	color: #ffffff;
	font-size: 20px;
}
.back i{
	color: #b8b8b8;
}
.back { 
	margin-top: 80px;
	float: left;
	padding: 40px;
}
.next {
	float: right;
	margin-top: 150px;
	margin-right: 160px;
}
.section_4_right{
	float: right;
	width: 50%;
	height: 100%;
	background-color: white;
}
.back:hover i {
	color: blue;
}
.next:hover i {
	color: blue;
}
.sp{
	height: 350px;
}
.box {
	margin-left: 600px;
}
.box div{
	border-radius: 100%;
	float: left;
	margin: 10px;
	height: 10px;
	width: 10px;
	background-color: #d6d6d6;
}

.box1:hover  {
	background-color: blue;
}
.section_5{
	height: 750px;
	width: 100%;
}
.section_5_left {
	float: left;
	height: 90%;
	width: 25%;
}
.Featured div{
	margin-top: 20px;
	margin: 13px;
	text-align: left;
	margin-left: 100px;
}
.Featured a{
	color: #333333;
}
.chuyenmau{
	float: left;
	border-radius: 3px;
	width: 130px;
	text-align: center;
	background-color: #f1fcff;
}
.chuyenmau:hover {
	background-color: #6397aa;
}
.chuyenmau a{
	text-align: center;
	font-size: 18px;
	color: #6397aa;
}
.chuyenmau:hover a{
	color: #ffffff;
}
.section_5_right {
	float: right;
    height: 90%;
    width: 75%;
}
.item1{
	float: left;
	margin-left: 10px; 
}
.item{
	float: left;
	text-align: center;
	margin: 15px;
	padding: 15px;
	height: 220px;
	width: 230px;
	background-color: white;
	border-radius: 5px;
}
.o{
	float: left;
	width: 290px;
	height: 275px;
}
.tensp{
	float: left;
	margin-left: 30px;
}
.tensp a{
	color: #1e2934;
}
.gia{
	float: left;
	background-color: #a0a0a0;
	border-radius: 100%;
	width: 80px;
	height: 80px;
}
.gia1{
	float: right;
	margin-top: 20px;
	background-color: #d52b2b;
	border-radius: 100%;
	width: 70px;
	height: 70px;
    display: inline-block;
}
.gia1 a{
	color: white;
}
.gia2 a{
	color: white;
	text-align: center;
}

.gia2{
	float:right;
	background-color: #ff9000;
	margin-top: 20px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	display: inline-block;
}
.bangia{
	float: left;
	margin-top:10px;
	width: 150px;
	height: 99px;

}
.browser {
    float: left;
    margin-left: 600px;
}
.browser a{
	font-size: 18px;
}
.browser1 {
	background-color: #99c873;
	border-radius: 5px;
	height: 50px;
	width: 200px;
}
.sang{
	float: left;
}
.x1{
	float: left;
	width: 221px;
	height: 208px;
	border: 1.5px solid #dddddd;
	background-color: white;
	overflow: hidden;
}
.x1_1{
	top: 185px;
}
