div{
	text-align: center;

}

img{
	width: 150px;
}

a{
font-size: 20px;
color:black;
font-weight: 700;
font-family:'Poor Story', cursive;
line-height: 22.5px;
text-decoration: none;
}

#sang{
	background-color: white;
}

.sang1{
	background-color: white;
	width: 270px;
	height: 300px;
	background-color: white;
	border:none;
	margin:10px;
	padding:none;
	float: left;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}
.sang1 *{
    transition: 1s;
}
.sang1 span{
	font-family: 'Poor Story', cursive;
	font-weight: 900;
	font-size: 20px;
	color: orange;
}
.pts figcaption{
	font-family: 'Poor Story', cursive;
	font-weight: 900;
	font-size: 20px;
}
.sang1:hover p img{
	transform: scale(0.5) translateY(-100px);
}
.sang1:hover figcaption{
	transform: translateY(-100px);
	color: orange;
}
.sang1:hover span{
	display: none;
}
.sang1 a{
    color: #f4f6f8;
	display: inline-block;
}
.sang1:hover a{
	
	transform: translateY(-120px);
	color: black;
}
.box div{
	border-radius: 100%;
	width: 10px;
	height: 10px;
	display: inline-block;
}
.sang1:hover .box{
	transform: translateY(-100px);

}
.sang2{
	display: inline-block;
}
.sang1:hover .sang2 > a >img{
	transform:translateY(+35px);
}
body{
	background-color: white;
}

.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}
.section_1{
	background-color: white;
	height: 100px;
}
.section_1_left{
	float:left;
	width: 50%;
	height: 100%;
	background-color: white;
}
.section_1_right{
	float:right;
	width: 50%;
	height: 100%;
	background-color: white;
}

.section_2{
	background-color: white;
	height: 100px;
}
.section_2_1{
	float:left;
	width: 20%;
	height: 100%;
	background-color: white;
}
.section_2_2{
	float:left;
	width: 60%;
	height: 100%;
	background-color: white;
}
.section_2_3{
	float:left;
	width: 20%;
	height: 100%;
	background-color: white;
}

.section_3{
	background-color: #f4f6f8;
	height: 1200px;
}
.section_3_1{
	float:left;
	width: 25%;
	height: 100%;
	background-color:#f4f6f8;
}
.section_3_2{
	float:left;
	width: 75%;
	height: 100%;
	background-color: #f4f6f8;
}
.section_3_3{
	margin-top: 20px;
    background-color: white;
    height: 60px;
    border-radius: 10px;
}
.section_3_3 img{
	width: 40px;
	height: 9px;
}
.section_4{
	background-color: #f4f6f8;
	height: 125px;
}
.section_4_1{
	background-color: #f4f6f8;
	height: 75px;
}
.section_5{
	background-color: white;
	height: 150px;
}
.Mail{
	width: 18px;
	height: 11px; 
	margin-left: 40px;
	margin-top: 35px;
}	
.Mail1{ 
	float: left;
}
.Mail1 a{
	font-size: 15px;
	color: black;
	font-weight: 700;
	font-family: 'Poor Story', cursive;
}
.Phone{
	width: 12px;
	height: 12px;
	margin-right: none;
	margin-top: 35px;
}
.Phone1{
	float: left;
	margin-left: 10px;
}
.Phone1 a{
	font-size: 15px;
	color: black;
	font-weight: 700;
	font-family: 'Poor Story', cursive;
}
.Instargram{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 40px;
}
.Gmail{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Twitter{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Facebook{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Logo{
	text-align: center;
	margin-top: 27.5px;
}
.section_2_2{
		margin-top: 35px;

}
.section_2_2 a{
	color: black;
	font-size: 20px;
	float: left;
	font-weight: 500;


}
.s_2_2_1{
	margin-right: 35px;
}
.s_2_2_2{
	margin-right: 35px;
}
.s_2_2_3{
	margin-right: 35px;
}
.s_2_2_4{
	margin-right: 35px;
}
.s_2_2_5{
	margin-right: 35px;
}
.Cart{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 35px;
	margin-right: 30px;
}
.User{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 35px;
	margin-right: 30px;
}
.Search{
	width:18px ;
	height:18px ;
	float: right;
	margin-right: 30px;
	margin-top: 35px;
}
.Loai{
	width: 80%;
	padding: 15px;
	margin: 15px; 
	background-color: white;
}
.Loai1{
	margin-left: 20px;
	text-align: left;
	margin-top: 10px;
}
.Loai1 a{
	font-size: 25px;
	font-weight: 600;
	color: orange;
	font-family: 'Baloo Bhaijaan', cursive; 
}
.Loai2{
	text-align: left;
	margin-left: 20px;
	margin-top: 30px;
}
.Loai2 a{
	font-size: 18px;
	font-family: 'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
}
.Loai3{
	text-align: left;
	margin-left: 20px;
	margin-top: 25px;
}
.Loai3 a{
    font-size: 18px;
	font-family: 'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
}
.Loai4{
	text-align: left;
	margin-left: 20px;
	margin-top: 25px;
}
.Loai4 a{
	font-size: 18px;
	font-family: 'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
}
.Loai5{
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
	margin-top: 25px;
}
.Loai5 a{
	font-size: 18px;
	font-family: 'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
}
.Gia{
	width: 80%;
	height: 15%;
	padding: 15px;
	margin: 15px;
	background-color: white;
}
.Gia1{
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
}
.Gia1 a{
	font-size: 25px;
	font-weight: 600;
	color: orange;
	font-family: 'Baloo Bhaijaan', cursive;
}
.Gia2{
	text-align: left;
	margin-left: 20px;
}
.Gia2 a{
	font-size: 18px;
	font-family:'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
	float: left;
	margin-top: 20px;
}
.From1{
	width: 25px;
	float: left;
	margin-top: 20px;
}
.Gia3{
	margin-left: 20px;
}
.Gia3 a{
	font-size: 18px;
	font-family:'Baloo Bhaijaan', cursive;
	font-weight: 600;
	color: black;
	float: left;
	margin-left: 70px;
	margin-top: 20px;
}
.Gia4{
	margin-top: 20px;
}
.To1{
	margin-top: 20px;
	width: 25px;
	float: left;
}
.KichCo{
	width: 80%;
	height: 18%;
	padding: 15px;
	margin: 15px;
	background-color: white;
}
.KichCo1{
	margin-top: 15px;
}
.KichCo1 a{
	color: orange;
	font-family:'Baloo Bhaijaan', cursive;
	font-size: 25px;
	text-align: left;
}
.KichCo2 {
	margin-top: 15px;
	text-align: left;
	margin-left: 15px
}
.KichCo2 span{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 20px;
	font-weight: 600;
}
.NhanHieu{
	font-family: 'Baloo Bhaijaan', cursive;
	width: 80%;
	height: 17%;
	padding: 15px;
	margin: 15px;
	background-color: white;
}

.cuoi_1{
	height: 100%;
	width: 30%;
	float: left;
	text-align: center;
}
.cuoi_1 span{
	font-family: 'Patrick Hand', cursive;
	color: #28313b
}
.cuoi_1 img{
	margin-top: 40px;
	margin-right: 90px;
}
.cuoi_2{
	height: 100%;
	width: 51%;
	float: left;
}
.cuoi_2 ul{
	margin-top: 40px;
}
.cuoi_21{
	float: left;
	text-align: left;
	height: 100%;
}
.cuoi_22{
	text-align: left;
	float: left;
    height: 100%;
}
.cuoi_23{
	text-align: left;
	float: left;
	height: 100%;
}
.cuoi_3{
	height: 100%;
	float: left;
}
.cuoi_3 img{
    width: 32px;
    height: 23px;
}
.ky1{
	height: 100%;
	width: 20%;
	background-color: white;
	float: left;
	text-align: center;
}
.ky2{
	float: left;
	height: 100%;
	width: 40%;
	text-align: left;
	margin-top: 50px;
}
.ky3{
	float: left;
	height: 100%;
	width: 25%;
	margin-top: 50px;
}
.ky4{
	float: left;
	height: 100%;
	width: 15%;
	margin-top: 35px;
}
.dong1{
	visibility: visible;
	position: absolute;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		width: 970px;
	}
}
@media screen and (max-width: 992px) and (min-width: 769px){
	.container{
		width: 750px;
	}
	.section_2_1{
		width: 50%;
	}
	.section_2_2{
		display: none;
	}
	.section_2_3{
		width: 50%;
	}
	.section_3_1{
		display: none;
	}
	.section_3_2{
		width: 100%;
	}
	.section_4{
		display: none;
	}
	.section_4_1{
		display: none;
	}
	.section_5{
		display: none;
	}

}
@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}
	.section_2_1{
		display: none;
	}
	.section_2_2{
		width: 100%
	}
	.section_2_3{
		width: 100%;
	}
	.section_3_1{
		display: none;
	}
	.section_3_2{
		width: 100%;
	}
	.section_4{
		display: none;
	}
	.section_4_1{
		display: none;
	}
	.section_5{
		display: none;
	}
}