body{
{
	background-color: #f4f6f8;
}
div{
	background-color: red;
}
img{
	width: 50px;
}
a{
	
	: 15px;
	color: gray;
	font-weight: 400; /*100 300 400 500 600 700 800 900;*/
	font-family: Arial;
	line-height: 22.5px;
	text-decoration: none;/* overline underline line-through */
	text-align: center;/* left  right center justify */
}

.item{
	background-color: #fff;
	width: 260px;
	height: 300px;
	float: left; /* left right none */
	text-align: center;
	margin: 15px;
	padding:15px;
	border-radius: 10px;
}
.item a span{
	color:yellow;
}