div{
	background-color: red;
}
img{
	width: 50px;
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 400; /*100 300 400 500 600 700 800 900;*/
	font-family: Arial;
	line-height: 22.5px;
	text-decoration: none;/* overline underline line-through */
	text-align: center;/* left  right center justify */
}
#item1{
	background-color: green;
}
.item{
	background-color: green;
	width: 300px;
	height: 400px;
	border:1px dashed red;
	float: left; /* left right none */
	text-align: center;
}
.item a span{
	color:yellow;
}