body{
    padding: 0;
    font-family:sans-serif;
    /*background-color: #f4f6f8;*/
}
a:hover{
    color: orange;
}
header{
    background-color: #fff;
    height: 150px;
}
.container{
    margin: 0 auto;
    width: 1170px;
}
header .head{
    float: left;
    width: 100%;
    height: 50px;
    background-color: #fff;
}
header .mail{
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 10px;
}
header .mail a{
    margin-right: 30px;
    color: #34404b;
    text-decoration: none;
}
header .mail a i{
    color: orange;
    letter-spacing: 5px;
}
header .society{
    margin-top: 10px;
    text-align: right;
    letter-spacing: 10px;
    float: left;
    width: 50%;
    height: 100%;
}
header .society a{
    color: #34404b;
    transition: 0.3s;
}
header .society a:hover{
    color: orange;
}
nav{
    background-color: #fff;
    display: flex;
    float: left;
    width: 100%;
    height: 100px;
}
nav .logo{
    width: 20%;
    margin-top: 10px;
}
nav .menu{
    display: flex;
    width: 60%;
    list-style: none;
    line-height: 20px;
}
nav .menu li a{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    margin-right: 30px;
    color: #34404b;
    font-size: 16pt;
    font-weight: 600;
    transition: 0.3s;
}
nav .menu li a:hover{
    color: orange;
}
nav .icon {
    width: 20%;
    text-align: right;
    letter-spacing: 10px;
    line-height: 50px;
}

nav .icon a{
    color: #34404b;
    transition: 0.3s;
    font-size: 16pt;
}
nav .icon a:hover{
    color: orange;
}
/*section{*/
    /*!*background-color: #f4f6f8;*!*/
    /*height: 100%;*/
/*}*/
/*.support{*/
    /*margin: 0 auto;*/
    /*width: 1170px;*/
    /*display: flex;*/
/*}*/
/*.sidebar{*/
    /*width: 20%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*margin-top: 40px;*/
/*}*/
/*.type{*/
    /*display: block;*/
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*height: 302px;*/
/*}*/
/*.type p{*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 800;*/
    /*color: orange;*/
    /*padding-top: 30px;*/
    /*margin-left: 30px;*/
    /*font-size: 16pt;*/
/*}*/
/*.type ul li{*/
    /*list-style: none;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.type ul li a{*/
    /*font-size: 16pt;*/
    /*text-decoration: none;*/
    /*color: #34404b;*/
/*}*/
/*.type ul li a:hover{*/
    /*color: orange;*/
/*}*/
/*.pricefilter{*/
    /*display: block;*/
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*height: 170px;*/
/*}*/
/*.pricefilter p{*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 800;*/
    /*color: orange;*/
    /*padding-top: 30px;*/
    /*margin-left: 30px;*/
    /*font-size: 16pt;*/

/*}*/
/*u{*/
    /*margin-left: 15px;*/
    /*margin-right: 5px;*/
    /*text-decoration: none;*/
    /*color: #34404b;*/
/*}*/
/*.pricefilter input{*/
    /*width: 50px;*/
    /*padding: 5px;*/
/*}*/
/*.pricefilter button{*/
    /*margin: 15px 70px;*/
    /*width: 50px;*/
    /*padding: 10px;*/
    /*outline: none;*/
    /*background-color: orange;*/
    /*width: 85px;*/
    /*cursor: pointer;*/
/*}*/
/*.size{*/
    /*display: block;*/
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*height: 302px;*/
/*}*/
/*.size p{*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 800;*/
    /*color: orange;*/
    /*padding-top: 30px;*/
    /*margin-left: 30px;*/
    /*font-size: 16pt;*/
/*}*/
/*.size input{*/
    /*margin-bottom: 30px;*/
    /*font-size: 16pt;*/
    /*color: #34404b;*/
    /*margin-left: 30px;*/
/*}*/
/*.brand{*/
    /*display: block;*/
    /*background-color: #fff;*/
    /*width: 100%;*/
    /*height: 300px;*/
/*}*/
/*.brand p{*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 800;*/
    /*color: orange;*/
    /*padding-top: 30px;*/
    /*margin-left: 30px;*/
    /*font-size: 16pt;*/
/*}*/
/*.brand input{*/
    /*margin-bottom: 30px;*/
    /*font-size: 16pt;*/
    /*color: #34404b;*/
    /*margin-left: 30px;*/
/*}*/
/*.pagenum{*/
    /*display: flex;*/
    /*width: 95.5%;*/
    /*float: right;*/
    /*background-color: #fff;*/
    /*height: 50px;*/
    /*margin-bottom: 100px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
/*.pagenum a{*/
    /*padding: 7px;*/
    /*background-color:deeppink;*/
    /*border-radius: 7px;*/
    /*margin-right: 15px;*/
/*}*/
/*.pagenum a:focus{*/
    /*background-color: #34404b;*/
/*}*/
/*.pagenum a:hover{*/
    /*background-color: #34404b;*/
/*}*/
/*.banner{*/
    /*display: flex;*/
    /*width: 1100px;*/
    /*padding: 50px;*/
    /*margin: 0 auto;*/
    /*height: 50px;*/
    /*background-color: #fff;*/
    /*margin-bottom: 50px;*/
/*}*/
/*.text{*/
    /*width: 60%;*/
/*}*/
/*.big{*/
    /*text-transform: uppercase;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 900;*/
    /*font-size: 32px;*/
    /*color: orange;*/
    /*letter-spacing: 5px;*/
/*}*/
/*.small{*/
    /*font-family: 'Charmonman', cursive;*/
    /*margin-left: 30px;*/
    /*font-size: 16pt;*/
/*}*/
/*!*.form{*!*/
    /*!*width: 40%;*!*/
    /*!*text-align: right;*!*/
/*!*}*!*/
/*.join{*/
    /*padding: 10px;*/
    /*background-color: orange;*/
    /*outline: none;*/
    /*border: none;*/
    /*font-size: 14pt;*/
    /*cursor: pointer;*/
    /*color: #34404b;*/
    /*font-weight: 600;*/
/*}*/
/*.form input{*/
    /*width: 280px;*/
    /*background:none;*/
    /*outline: none;*/
    /*border:none;*/
    /*line-height: 40px;*/
    /*border-bottom: 1px solid #34404b;*/
    /*font- size: 12pt;*/
/*}*/
.containermain{
    width: 805px;
    margin: 0 auto;
    margin-top: 56px;
}
a{text-decoration: none;}
.containermain u{
    text-decoration: none;
    font-size: 18pt;
    color: #b7b9ba;
}
.avatar{
    text-align: center;
    font-size: 150px;
    color: #b7b9ba;
    margin-bottom: 20px;
}
.form input{
    width: 805px;
    line-height: 50px;
    margin-bottom: 30px;
    font-size: 18pt;
    border-radius:
    outline : none;
    border: none;
    margin-top: 10px;
}
.temp {
    display: flex;
    float: left;
    width: 90%;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 60px;
    text-align: center;
}
.temp input{
    width: 5%;
    height: 20px;
}
button{
    background-image: linear-gradient(to right,rgba(0,0,255,0),rgba(50,50,255,.3));
    border-radius: 5px;
    padding: 20px;
    border: none;
    outline: none;
    margin-left: 30%;
    margin-top: 50px;
    width: 300px;
    font-size: 16pt;
    cursor: pointer;
}
label{
    font-size: 16pt;
    color: #b7b9ba;
}
.form p{
    font-size: 18pt;
    color: blue;
    text-align: center;
    margin-top: 50px;

}
footer{
    background-color: #fff;
    height: 200px;
}
.container2{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}
.copyrigh{
    width: 25%;
    padding-top: 60px;
}
footer p{
    padding-top: 15px;
    letter-spacing: 2px;
    font-size: 8pt;
    color: grey;
}
.list{
    width: 40%;
    display: flex;
    padding-top: 60px;
}
.list ul li a{
    text-decoration: none;
    color: #34404b;
    font-size: 12pt;
}
.list ul li a:hover{
    color: orange;
}
.payment{
    width: 35%;
    text-align: right;
}
.payment p{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 24pt;
    color: orange;
    font-style: italic;
    font-weight: 800;
}
.payment .card{
    cursor: pointer;
    font-size: 24pt;
    color: #34404b;
    letter-spacing: 5px;
}
.payment .card i:hover{
    color: orange;
}