body{
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
	background-color: #f4f6f8;
}
a:hover{
	color: orange;
}
header{
	background-color: #fff;
	height: 150px;
}
.container{
	margin: 0 auto;
	width: 1170px;
}
header .contact{
	float: left;
	width: 100%;
	height: 50px;
	background-color: #fff;
}
header .mail{
	float: left;
	width: 50%;
	height: 100%;
	margin-top: 10px;
}
header .mail a{
	margin-right: 30px;
	color: #34404b;
	text-decoration: none;
}
header .mail a i{
	color: orange;
	letter-spacing: 5px;
}
header .snsicon{
	margin-top: 10px;
	text-align: right;
	letter-spacing: 10px;
	float: left;
	width: 50%;
	height: 100%;	
}
header .snsicon a{
	color: #34404b;
	transition: 0.3s;
}
header .snsicon a:hover{
	color: orange;
}
nav {
	background-color: #fff;
	display: flex;
	float: left;
	width: 100%;
	height: 100px;
}
nav .logo {
	float: left;
	width: 15%;
	height: 100%;
	margin-top: 10px;
}
nav .menu {
	display: flex;
	width: 65%;
	list-style: none;
	line-height: 20px;
}
nav .menu li a{
	font-family: 'Maven Pro', sans-serif;
	text-decoration: none;
	margin-right: 30px;
	color: #34404b;
	font-size: 16pt;
	transition: 0.3s;
}
nav .menu li a:hover{
	color: orange;
}
nav .icon {
	width: 20%;
	text-align: right;
	letter-spacing: 10px;
	line-height: 50px;	
}
section{
	background-color: #f4f6f8;
	height: 100%;
}
.container1{
	margin: 0 auto;
	width: 1170px;
	display: flex;
}
.sidebar{
	width: 20%;
	height: 100%;
	display: block;
	margin-top: 40px;
}
.categories{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 302px;
}
.categories p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;
}
.categories ul li{
	list-style: none;
	margin-bottom: 30px;
}
.categories ul li a{
	font-size: 16pt;
	text-decoration: none;
	color: #34404b;
}
.categories ul li a:hover{
	color: orange;
}
.pricefilter{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 232px;
}
.pricefilter p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;

}
u {
	margin-left: 15px;
	margin-right: 5px;
	text-decoration: none;
	color: #34404b;
}
.pricefilter input{
	width: 50px;
	padding: 5px;
}
.pricefilter button{
	margin: 15px 70px;
	width: 50px;
	padding: 10px;
	outline: none;
	background-color: orange;
	width: 85px;
	cursor: pointer;
}