body{
	background-color: #f4f6f8;
	font-family: 'Roboto';
}
img{
	
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 400; /*100 300 400 500 600 700 800 900;*/
	font-family: 'Roboto', sans-serif;
	line-height: 22.5px;
	text-decoration: none;/* overline underline line-through */
	text-align: center;/* left  right center justify */
}

.item{
	background-color: #fff;
	width: 260px;
	height: 300px;
	float: left; /* left right none */
	text-align: center;
	margin:15px;
	/*padding:15px;*/
	border-radius: 10px;
	overflow: hidden;
	/*animation-name: example;
    animation-duration: 2s;
   	animation-iteration-count: 1;*/
}
.item a span{
	color:yellow;
}
.item span{
	margin-top: 10px;
	margin-bottom: 40px;
	float: left;
	width: 100%;
}
.item img{
	/*transform: translate(20px,50px);*/
	/*transform: rotate(60deg);*/
	/*transform: scale(0.5);*/
	/* transform: matrix(1, -0.3, 0, 1, 0, 0);*/
	transition: 200ms all;
}
.item .box > div{
	width: 10px;
	height: 10px;
	background-color: green;
	border-radius: 100%;
	display: inline-block;
}
/* Hover item */
.item *{
	transition: 200ms all;
}
.item:hover img{
	transform:scale(0.5) translateY(-100px);
}
.item:hover figcaption{
	transform: translateY(-100px);
}
.item:hover span{
	display: none;
}
.item:hover p{
	transform: translateY(-50px);
}
.item:hover .box{
	transform: translateY(-50px);
}

@keyframes example {
    from {
    	transform: scale(1);
    }
    to {
    	transform: scale(0.5);
    }
}


/* chia layout */
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}



.section_1{
	background-color: green;
	height: 100px;
}
.section_1_left{
	float:left;
	width: 50%;
	height: 100%;
	background-color: darkred;
}
.section_1_right{
	float:left;
	width: 50%;
	height: 100%;
	background-color: orange;
}

.section_2{
	background-color: darkgreen;
	height: 100px;
}
.section_2_1{
	float:left;
	width: 20%;
	height: 100%;
	background-color: red;
}
.section_2_2{
	float:left;
	width: 60%;
	height: 100%;
	background-color: gray;
}
.section_2_3{
	float:left;
	width: 20%;
	height: 100%;
	background-color: #dedede;
}

.section_3{
	background-color: blue;
	height: 800px;
}
.section_3_1{
	float:left;
	width: 25%;
	height: 100%;
	background-color: yellow;
}
.section_3_2{
	float:left;
	width: 75%;
	height: 100%;
	background-color: violet;
}


.section_4{
	background-color: orange;
	height: 100px;
}
.section_5{
	background-color: red;
	height: 100px;
}

/* responsive */
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		width: 970px;
	}
}
@media screen and (max-width: 992px) and (min-width: 769px){
	.container{
		width: 750px;
	}
	.section_2_1{
		width: 50%;
	}
	.section_2_2{
		display: none;
	}
	.section_2_3{
		width: 50%;
	}
	.section_3_1{
		display: none;
	}
	.section_3_2{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}
	.section_2_1{
		width: 100%;
	}
	.section_2_2{
		display: none;
	}
	.section_2_3{
		width: 100%;
	}
	.section_3_1{
		display: none;
	}
	.section_3_2{
		width: 100%;
	}
}

.box{
	width: 200px;
	height: 100px;
	background-color: red;
}

.container{width: 1200px;}