
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: block;
}
a,u{
	text-decoration: none;
	color: #34404b;
}
/*=========HEADER==========*/
header{
	width: 100%;
	height: 180px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.4);
}
.container{
	display: block;
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}
.contact{
	width: 100%;
	height: 60px;
	display: flex;
	border-bottom: 1px solid rgba(0,0,0,.4);
}
.contact .mail_phone{
	width: 50%;
	height: 100%;
	text-align: left;
	line-height: 60px;
}
.mail_phone a{
	text-decoration: none;
	color: #34404b;
	margin-right: 20px;
}
.mail_phone a i{
	color: orange;
	margin-right: 10px;
}
.contact .sns{
	width: 50%;
	height: 100%;
	text-align: right;
	line-height: 60px;
}
.sns a i{
	color: #34404b;
	margin-left: 20px;
	font-size: 14pt;
	transition: 0.3s;
}
.sns a i:hover{
	color: orange;
	cursor: pointer;
}
nav{
	width: 100%;
	height: 120px;
	display: flex;
}
.logotop {
	display: block;
	width: 20%;
	height: 100%;
	line-height: 140px;
}

.main_menu{
	width: 60%;
	height: 100%;
}
.main_menu ul{
	display: flex;
	float: left;
	padding: 0;
	margin: 0;
}
.main_menu ul li{
	display: block;
	margin-right: 40px;
	list-style: none;
	font-size: 14pt;
	cursor: pointer;
	width: 100px;
	margin-top: 40px;
}
.main_menu ul li a{
	transition: 0.3s;
}
.main_menu ul li::before{
	content: "";
	position: absolute;
	width: 80px;
	height: 50px;
	transform-origin: right;
	transform: scale(0,0.05);
	background-color: #ff5912;	
	transition: 0.5s;
}
.main_menu ul li:hover::before{
	transform-origin: left;
	transform: scale(1,0.05);
}
.main_menu ul li:focus::before{
	transform-origin: left;
	transform: scale(1,0.05);
}
.main_menu ul li a:hover{
	color: #ff5912;
}
.icontop{
	height: 100%;
	width: 20%;
	line-height: 120px;
	text-align: right;
}
.icontop a{
	margin-left: 20px;
	font-size: 14pt;
	transition: 0.3s;
}
.icontop a:hover{
	color: orange;
}
.icontop a i{
	cursor: pointer;
}
/*===========BODY==============*/
section{
	margin: 0;
	padding: 0;
	background-color: #f4f6f8;
	width: 100%;
}
.headerimg{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 650px;
	background-color: #fff;
}
.bg{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-position: center;
}
.text_element{
	display: flex;
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}
.white{
	background-color: #fff;
	width: 10px;
	height: 17px;

}
.shape{
	height: 88px;
	width: 120px;
	display: block;
	margin-top: 280px;
}
.shape .red{
	background-color: #ff0000;
	width: 10px;
	height: 36px;
	margin: 10px 0 10px;
}
.white1{
	background-color: #fff;
	width: 10px;
	height: 17px;

}
.text{
	color: #34404b;
	margin-top: 200px;
	display: block;
}
.text h1{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: #ff5912;
	font-weight: 700;
	font-size:40pt;
}
.text h4{
	margin-right: 48px;
	padding: 0;
	font-size: 14pt;
	font-weight: 600;
}
.text h6{
	padding: 0;
	margin-left: 0px;
	font-weight: 200;
	font-size: 12pt;
	letter-spacing: 1px;
}
.buy_element{
	width: 100%;
	display: flex;
	line-height: 40px;
	font-size: 16pt;
}
.buy_element button{
	background: none;
	border:none;
	outline: none;
	margin-left: 40px;
	color: #ff5912;
	font-size: 16pt;
	cursor: pointer;
}
.containermain{
	margin: 0 auto;
	width: 1170px;
	display: block;
}
.title_1{
	margin-top: 110px;
	text-align: center;
	margin-bottom: 90px;
}
.title_1 h1{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #34404b;
	font-size:28pt;
}
.title_1 h6{
	font-weight: 300;
	left: 3px;
	color: #34404b;
	font-size: 10pt;
}

.items{
	display: flex;width: 100%;
	height: 360px;
	margin: 0 auto;
	overflow: hidden;
}
.item{
	display: block;
	background-color: #fff;
	margin: 10px;
	width: 270px;
	text-align: center;
	height: 100%;
}

.item p{
	margin-bottom: 20px;
	color: #273f56;
	font-size: 14pt;
	font-weight: 700;
	transition: 0.3s;
}
.item u{
	font-size: 16pt;
	margin-top: 20px;
	color: #ff5912;
	text-decoration: none;
	font-weight: 600;
}
.hover{
	text-align: center;
	transform: translateY(40px);
	transition: 0.3s;
}
.hover .color{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 50px;
	letter-spacing: 5px;
}
.hover span{
	letter-spacing: 2px;
	text-transform: lowercase;
}
.hover .color a:hover i{
	transform: scale(1.2);
}
.hover .color a:focus i{
	transform: scale(1.3);
}
.item img{
	transition: 0.3s;
}
.red{
	color: red;
}
.black{
	color: black;
}
.blue{
	color: blue;
}
.green{
	color: green;
}
.buyicon a{
	color: #34404b;
	font-size: 18pt;
	letter-spacing: 5px;
	transition: 0.3s;
}
.buyicon a:hover{
	color: orange;
}
.item:hover img{ 
	transform: scale(0.3) translateY(-200px);
}
.item:hover p{ 
	transform: translateY(-150px);
}
.item:hover .hover{ 
	transform: translateY(-150px);
}
.item:hover u{ 
	visibility: hidden;
}
.pagenum{
	width: 1170px;
	height: 50px;
	margin-top: 30px;
	background-color: #fff;
	text-align: center;
}
.pagenum a i{
	line-height: 50px;
	color: #ff5912;
	cursor: pointer;
	letter-spacing: 10px;
	font-size: 10pt;
}
.pagenum a i:hover{
	color: #34404b;
}
.pagenum a i:focus{
	color: #34404b;
}
.title_2{
	margin-top: 90px;
	text-align: center;
	margin-bottom: 50px;
}
.title_2 h1{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #34404b;
	font-size:28pt;
}
.title_2 h6{
	font-weight: 300;
	left: 3px;
	color: #34404b;
}
.sale_item{
	display: flex;
	width: 1770px;
	margin: 0 auto;
}
.ads_banner{
	width: 1170px;
	height: 110px;
	display: flex;
	margin-top: 90px;
}
.ads_banner .left{
	width: 60%;
	height: 100%;
	display: flex;
	background-color:  #fff;
}
.ads_banner .right{
	display: block;
	width: 38%;
	height: 100%;
	margin-left: 2%;
	background-color:  #fff;

}	
.right p{
	margin: 0;
	padding: 0;
}
.right .ads{
	width: 100%;
	height: 50%;
	font-weight: 600;
	text-align: center;
	line-height: 70px;
}
.right .size{
	width: 100%;
	height: 50%;
	text-align: center;
	letter-spacing: 10px;
	color: #aeb3b7;
}
.sub{
	width: 40%;
	height: 100%;
	color: #fff;
	display: block;
}
.left .image .sub::before {
	content:"";
	z-index: -1;
	display: block;
	margin-top: -55px;
	width: 55px;
	height: 50px;
	transform: rotate(-45deg);
	background: #ff5912;
	margin-left: 17.5px;
}
.left .image .sub1::before {
	content:"";
	z-index: -1;
	display: block;
	margin-top: 30px;
	width: 50px;
	height: 60px;
	transform: rotate(135deg);
	background: #ff9060;
	margin-left: 20px;
}
.sub i,b{
	position: absolute;
	transform: translate(30px,-40px);
	font-size: 10pt;
}
.left .content1{
	width: 50%;
	height: 100%;
	margin-left: 30px;
	color: #34404b;
	margin-top: 30px;
}
.content1 p{
	margin: 0;
	padding: 0;
	width: 100%;
	text-transform: uppercase;
	font-size: 18pt;
	font-weight: 900;
	color: #34404b;
}
.content1 h4{
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-size: 10pt;
}

.left button{
	width: 10%;
	height: 100%
	background:none;
	border: none;
	outline: none;
	font-size: 24pt;
	color: #ff5913;
	cursor: pointer;
}
.left button i:hover {
	transform: scale(1.3);
}
.left h1{
	line-height: 55px;
	margin-left: 30px;
	font-size: 24pt;
	color: #ff5913;
	font-weight: 800;
}
.sale_items{
	width: 1170px;
	height: 110px;
	display: flex;
}
.sale_item{
	height: 100%;
	width: 30%;
	margin: 2%;
	background-color: #fff;
	display: flex;
	overflow: hidden;
}
.sale_item:hover button{
	transform: translateY(-55px);
}
.sale_item:hover .rated{
	transform: translateX(470px);
}
.sale_item img{
	width: 60px;
	height: 60px;
	margin-left: 20px;
	margin-top: 20px;
}
.sale_item .content{
	margin-top: 20px;
	width: 60%;
	height: 100%;
	display: block;
	margin-left: 30px;
}
.sale_item button{
	background: none;
	border:none;
	outline: none;
	color: #ff5913;
	font-size: 16pt;
	font-weight: 700;
	margin-top: 30px;
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.3s;
}
.sale_item .price{
	width: 50%;
}
.sale_item .price p{
	color: #ff5913;
	text-align: right;
}
.sale_item p{
	font-size: 14pt;
	color: #34404b;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
.sale_item .rated{
	width: 100%;
	display: flex;
	margin-top: 20px;
	transition: 0.2s;
}
.sale_item .content .star{
	display: flex;
	letter-spacing: 3px;
	font-size: 10pt;
	color: #ff5913;
	width: 50%;
}
.bottom_banner .banner{
	width: 1170px;
	height: 100px;
	display: flex;
	padding: 100px 0 100px;
}
.banner .text2{
	width: 50%;
	height: 100%;
	line-height: 100px;
	background-color: #fff;
}
.banner{
	width: 1170px;
	height: 100px;
	padding: 0 0 90px;
	display: flex;
	margin-top: 30px;
	line-height: 100px;
}
.text2 {
	width: 50%;
	height: 100%;
	text-align: left;
	background-color: #ffffff;
}
.text2 .big {
	font-size: 20pt;
	color: #ff4000;
	margin-left: 50px;
	font-weight: 700;
}
.text2 .small {
	margin-left: 20px;
	color: #aeb4ba;
}
.form {
	width: 50%;
	height: 100%;
	text-align:right; 
	background-color: #ffffff;
}
.form i {
	margin-right: 8px;
	color: #ff5912;
}
.form{
	width: 50%;
	height: 100%;
	line-height: 100px;
	text-align: right;
	background-color: #fff;
}
.text2 .big{
	text-transform: uppercase;
	color: orange;
	font-size: 18pt;
	font-weight: 700;
	margin-right: 30px;
	margin-left: 30px;
}
.form input{
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid rgba(0,0,0,.6);
	width: 300px;font-size: 10pt;
}
.form i{
	color: orange;
	font-size: 18pt;margin-right: 10px;
}
.form button{
	margin-right: 50px;
	padding: 10px;
	background-color: orange;
	outline: none;
	border: none;
}
footer{
	height: 180px;
	background-color: #fff;
}
.containerbottom{
	width: 1170px;
	margin: 0 auto;
	height: 90%;
	display: flex;
	margin-top: 30px;
}
.logobottom{
	width: 25%;
	height: 100%;
}
.logobottom u{
	font-size: 8pt;
	color: #34404b80;
}
.listlink{
	width: 50%;
	display: flex;
}
.listlink ul{
	margin-right: 40px;
}
.listlink ul li{
	margin-bottom: 10px;
}
.listlink ul li:hover a{
	color: #ff5913;
}
.payment{
	width: 25%;
	text-align: left;
	font-size: 18pt;
}
.payment p{
	margin: 0;
	padding: 0;
	color: #ff5913;
	font-weight: 800;
}
.payment .card{
	color: #34404b;
	letter-spacing: 2px;
	margin-top: 30px;
	font-size: 28pt
}
.payment .card i:hover{
	color: #ff5912;
}


