body{
	margin: 0;
	padding: 0;
	background-color: #f4f6f8;
	font-family: sans-serif;
	font-size: 12pt;
}
header{
	height: 182px;
	width: 100%;
}
header .contact{
	display: flex;
	height: 60px;
	width: 100%;
	background-color: #fff;
}
header .contact a{
	padding: 10px;
	margin-top: 10px;
	display: block;
	position: absolute;
	margin-left: 184px;
	text-decoration: none;
	color: #34404b;
}
header .contact a i{
	color: orange;
}
header .contact span i{
	color: orange;
}
header span{
	padding: 10px;
	margin-top: 10px;
	display: block;
	position: absolute;
	margin-left: 350px;
	text-decoration: none;
	color: #34404b;
}
header .contact .sns i{
	padding-left: 10px;
	color: #34404b;
}
header .contact .sns{
	font-size: 14pt;
	padding: 10px;
	margin-top: 10px;
	display: block;
	position: absolute;
	margin-left: 77%;
	color: #34404b;
	cursor: pointer;
}
header nav {
	display: flex;
	width: 100%;
	height: 120px;
	background-color: #fff;
}
header nav .logo img{
	width: 120px;
	height: 42px;
	margin-top: 15px;
	margin-left: 150%;
}
header nav ul{
	display: flex;
	list-style: none;
	margin-left: 20%;
	font-size: 12pt;
}
header nav ul li a:hover{
	color: orange;	
}
header nav ul li a{
	margin-right: 40px;
	text-decoration: none;
	color: #34404b;	
}
header nav .headicon{
	padding: 10px;
	margin-top: 10px;
	display: block;
	position: absolute;
	margin-left: 80%;
}
header nav .headicon i{
	margin-right: 10px;
	color: #34404b;
}
section{
	margin: 100px 13% 13%;
	display: flex;
}
section .sidebar{
	display: block;
	width: 270px;
}
section .sidebar .categories{
	display: block;
	background-color: #fff;
	height: 330px;
}
section .sidebar .categories p{
	position: absolute;
	color: orange;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bold;
	margin: 40px 61px;
}
section .sidebar .categories ul{
	position: absolute;
	margin: 60px 21px;
	list-style: none;

}
section .sidebar .categories ul li{
	list-style: none;
	margin-top: 40px;
	text-decoration: none;
}
section .sidebar .categories ul li a:hover{
	color: orange;
}
section .sidebar .categories ul li a{
	text-decoration: none;
	color: #34404b;
}
section .sidebar .pricefilter{
	display: block;
	margin-top: 30px;
	background-color: #fff;
	height: 270px;
}
section .sidebar .pricefilter img{
	position: absolute;
	margin-top: 80px;
	transform: scale(0.7);
}
section .sidebar .pricefilter a{
	position: absolute;
	color: orange;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bold;
	margin: 40px 61px;
}
section .sidebar .pricefilter .filterbox{
	text-align: center;
	position: absolute;
	margin-top: 180px;
	text-align: center;
	padding: 10px;
}
section .sidebar .pricefilter .filterbox span {
 	padding-right: 10px; 
 	padding-left: 15px;
}
section .sidebar .pricefilter input{
	width:25px;
	border-radius: 2px;
	padding: 10px;
	border:none;
	outline: none;
	background-color: #edf0f2;
	padding-right: 10px; 
}

section .sidebar .size {
	margin-top: 30px;
	display: block;
	background-color: #fff;
	height: 330px;
}
section .sidebar .size a{
	position: absolute;
	color: orange;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bold;
	margin: 40px 61px;
}
section .sidebar .size .checkbox{
	position: absolute;
	margin: 80px 61px;
}
section .sidebar .size .checkbox input{
	margin-top: 30px;
}
section .sidebar .brand {
	margin-top: 30px;
	display: block;
	background-color: #fff;
	height: 330px;
}
section .sidebar .brand a{
	position: absolute;
	color: orange;
	font-size: 16pt;
	text-decoration: none;
	font-weight: bold;
	margin: 40px 61px;
}
section .sidebar .brand .checkbox{
	position: absolute;
	margin: 80px 61px;
}
section .sidebar .brand .checkbox input{
	margin-top: 30px;
}

section .main{
	display: block;
}

section .main .items {
	display: flex;
	margin-bottom: 30px;
}

section .main .items .item {
	display: block;
	background-color: #fff;
	margin-left: 30px;
	height: 360px;
	width: 250px;
	text-align: center; 

}
section .main .items .item:hover{
	box-shadow: 0 0 10px 10px rgba(0,0,0,.2);
}
section .main .items .itemclicked:hover{
	box-shadow: 0 0 10px 10px rgba(0,0,0,.2);
}
section .main .items .itemclicked {
	display: block;
	position: relative;
	background-color: #fff;
	margin-left: 30px;
	height: 360px;
	width: 250px;
	text-align: center; 
	

}
section .main .items .itemclicked img{
	position: absolute;
	bottom: 50%;
	right: 10%;
	transform: scale(0.3);
}
section .main .items .itemclicked a{
	position: absolute;
	top: 33%;
	right: 20%;
	text-decoration: none;
	color: orange;
	font-weight: 900;
}
section .main .items .itemclicked p{
	position: absolute;
	top: 43%;
	right: 30%;
}
section .main .items .itemclicked .color a{
	display: block;
	position: absolute;
	width: 1px;
	padding: 5px;
	background-color: #000;
	border-radius: 10px;
	top: 65%;
	text-align: center;
}
section .main .items .itemclicked .color .red{
	background-color: red;
	left: 33%;
}
section .main .items .itemclicked .color .black{
	background-color: black;
	left: 43%;
}
section .main .items .itemclicked .color .blue{
	background-color: blue;
	left: 53%;
}
section .main .items .itemclicked .color .green{
	background-color: green;
	left: 63%;
}
section .main .items .itemclicked .buyicon{
	position: absolute;
	top: 85%;
	left: 25%;
	letter-spacing: 10px;
	font-size: 24px;
	cursor: pointer;
}
section .main .items .item img{
	margin-top: 30px;
}
section .main .items .item a{
	font-size: 12pt;
	text-align: center; 
	text-decoration: none;
	color: #34404b;
}
section .main .items .item a:hover{
	color: orange;
}
section .main .items .item p{
	font-size: 12pt;
	color: red;
}
section .main .pagenum{
	display: block;
	padding: 45px;
	background-color: #fff;
	margin-left: 30px;

}
section .main .pagenum ul{
	text-align: center;
	position: absolute;
	margin-left: 20%;
	color: orange;
	display: flex;
	list-style: none;
}
section .main .pagenum ul li{
	margin-left: 15px;
	cursor: pointer;
}
footer .banner {
	text-align: center;
	display: block;
	padding: 50px;
	background-color: #fff;
	margin-left: 13%;
	margin-right: 13%;
}
footer .banner .bn{
	text-transform: uppercase;
	font-size: 24pt;
	font-weight: 900;
	color: orange;
}
footer .banner .sbn{
	font-style: italic;
	margin-left: 15px;
}
footer .banner i{
	padding: 10px;
	color: orange;
}
footer .banner input{
	padding: 3px;
	padding-left: 10px;
	border: none;
	outline: none;
	border-bottom: 2px solid #34404b; 
}

footer .banner .joinus{
	padding: 15px;
	color: #fff;
	background-color: orange;
	border:none;
	cursor: pointer;
}

footer .foot{
	font-family: sans-serif;
	display: flex;
	margin-top: 30px;
	padding: 25px;
	width: 100vw;
	background-color: #fff;
}
footer .foot .logobottom{
	display: block;
	text-align: center;

}
footer .foot .logobottom .logo{
	transform: scale(0.3);
}
footer .foot .logobottom .cpy{
	color: grey;
	font-size: 8pt;
}
footer .foot .listlink{
	display: flex;
	text-decoration: none;
}
footer .foot .listlink ul li a{
	line-height: 30px;
	text-decoration: none;
	color: #34404b;
}
footer .foot .paymen{
	position: absolute;
	text-align: right;
	margin-left: 70%;
}
footer .foot .paymen p{
	font-weight: 900;
	color: orange;
	font-size: 24pt;
}
footer .foot .paymen .iconcard{
	font-size: 24pt;
	color: orange;
}
