body{
	background-color: #f4f6f8;
}

div{
	background-color: red;
}
img{
	width: 50px;
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 400; /*100 300 400 500 600 700 800 900;*/
	font-family: Arial;
	line-height: 22.5px;
	text-decoration: none;/* overline underline line-through */
	text-align: center;/* left  right center justify */
}

.item{
	background-color: #fff;
	width: 260px;
	height: 300px;
	float: left; /* left right none */
	text-align: center;
	margin:15px;
	padding:15px;
	border-radius: 10px;
}
.item a span{
	color:yellow;
}


/* chia layout */
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}



.section_1{

	height: 100px;
}
.section_1_left{
	float:		left;
	width: 50%;
	height: 50%;
	background-color: white;
}
.section_1_right{
	float:left;
	width: 50%;
	height: 100%;
	background-color: orange;
}

.section_2{
	background-color: darkgreen;
	height: 100px;
}
.section_2_1{
	float:left;
	width: 20%;
	height: 100%;
	background-color: red;
}
.section_2_2{
	float:left;
	width: 60%;
	height: 100%;
	background-color: gray;
}
.section_2_3{
	float:left;
	width: 20%;
	height: 100%;
	background-color: #dedede;
}

.section_3{
	background-color: blue;
	height: 800px;
}
.section_3_1{
	float:left;
	width: 25%;
	height: 100%;
	background-color: yellow;
}
.section_3_2{
	float:left;
	width: 75%;
	height: 100%;
	background-color: violet;
}


.section_4{
	background-color: orange;
	height: 100px;
}
.section_5{
	background-color: red;
	height: 100px;
}