body{
	background-color: #d8dbde;
}

div{
	background-color: white;
}
img{
	width: 150px;
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 400; /*100 300 400 500 600 700 800 900;*/
	font-family: Arial;
	line-height: 22.5px;
	text-decoration: none;/* overline underline line-through */
	text-align: center;/* left  right center justify */
	color: black;
	padding: red;
}
#item1{
	background-color: white;
}
.item{
	background-color: white;
	width: 400px;
	height: 300px;
	float: left; /* left right none */
	text-align: center;
	color: black;
	margin: 11.5px;
}
.item a span{
    color:white;
}
