body{
	margin: 0;
	padding: 0;
	background-color: #282828;
}
section{
	display: flex;
}
nav{
	display: flex;
	padding: 0;
	background-color: #fff;
}
.logo{
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 34px;
	margin: 30px 10px; 
	margin-left: 50px;
}
nav ul {
	float: right;
	list-style: none;
	display: flex;
	margin: 30px auto;
}
nav ul li a{
	text-decoration: none;
	margin-left: 90px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #282828;
}
div{
	margin: 40px 50px;
	display: block;
	right: 10px;
	transform: translate(-50% -50%);
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	margin-left: 60px;
}
img:hover{
	transform: scale(1.5);
}
img{
	display: block;
	margin: 10px auto;
	margin-top: 5px;
	padding: 10px;
}
h3{
	text-align: center;
	font-family: sifonn;
	font-size: 14pt;
}
button{
	display: flex;
	outline: none;
	padding: 5px;
	border-radius: 15px;
	background-color: #282828;
	color: white;
	margin: 1px auto;
	font-size: 10px;
	cursor: pointer;
}
button:hover{
	background-color: #282828;
	color: red;
}
footer{
	margin: 0 0 10px;
	color: grey;
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
}













































