body{
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
	background-color: #f4f6f8;
}
a:hover{
	color: orange;
}
header{
	background-color: #fff;
	height: 150px;
}
.container{
	margin: 0 auto;
	width: 1170px;
}
header .contact{
	float: left;
	width: 100%;
	height: 50px;
	background-color: #fff;
}
header .mail{
	float: left;
	width: 50%;
	height: 100%;
	margin-top: 10px;
}
header .mail a{
	margin-right: 30px;
	color: #34404b;
	text-decoration: none;
}
header .mail a i{
	color: orange;
	letter-spacing: 5px;
}
header .snsicon{
	margin-top: 10px;
	text-align: right;
	letter-spacing: 10px;
	float: left;
	width: 50%;
	height: 100%;	
}
header .snsicon a{
	color: #34404b;
	transition: 0.3s;
}
header .snsicon a:hover{
	color: orange;
}
nav{
	background-color: #fff;
	display: flex;
	float: left;
	width: 100%;
	height: 100px;
}
nav .logo{
	width: 20%;
	margin-top: 10px;
}
nav .menu{
	display: flex;
	width: 60%;
	list-style: none;
	line-height: 20px;
}
nav .menu li a{
	font-family: 'Maven Pro', sans-serif;
	text-decoration: none;
	margin-right: 30px;
	color: #34404b;
	font-size: 16pt;
	transition: 0.3s;
}
nav .menu li a:hover{
	color: orange;
}
nav .icon {
	width: 20%;
	text-align: right;
	letter-spacing: 10px;
	line-height: 50px;	
}

nav .icon a{
	color: #34404b;
	transition: 0.3s;
	font-size: 16pt;
}
nav .icon a:hover{
	color: orange;
}
section{
	background-color: #f4f6f8;
	height: 100%;
}
.containermain{
	margin: 0 auto;
	width: 1170px;
	display: flex;
}
.sidebar{
	width: 20%;
	height: 100%;
	display: block;
	margin-top: 40px;
}
.categories{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 302px;
}
.categories p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;
}
.categories ul li{
	list-style: none;
	margin-bottom: 30px;
}
.categories ul li a{
	font-size: 16pt;
	text-decoration: none;
	color: #34404b;
}
.categories ul li a:hover{
	color: orange;
}
.pricefilter{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 250px;
}
.pricefilter p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;

}
u{
	margin-left: 15px;
	margin-right: 5px;
	text-decoration: none;
	color: #34404b;
}
.pricefilter input{
	width: 50px;
	padding: 5px;
}
.pricefilter button{
	margin: 35px 80px;
	width: 50px;
	padding: 10px;
	outline: none;
	background-color: orange;
	width: 85px;
	cursor: pointer;
}
.pricefilter img{
	margin-left: 30px;
	margin-bottom: 20px; 
}
.size{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 302px;
}
.size p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;
}
.size input{
	margin-bottom: 30px;
	font-size: 16pt;
	color: #34404b;
	margin-left: 30px;
}
.color123 {
	color:orange;
}
.brand{
	display: block;
	background-color: #fff;
	width: 100%;
	height: 302px;
}
.brand p{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: orange;
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16pt;
}
.brand input{
	margin-bottom: 30px;
	font-size: 16pt;
	color: #34404b;
	margin-left: 30px;
}
.items{
	display: block;
	width: 80%;
	height: 100%;
	margin-top: 60px;
}
.item3{
	display: flex;
	margin-bottom: 40px;
}
.item{
	display:block;
	position: relative;
	background-color: #fff;
	width: 270px;
	height: 365px;
	margin-left: 42px;
	text-align: center;
	transition: 0.3s;
}
.item .name{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 600;
	font-size: 16pt;
	text-decoration: none;
	color: black;
	margin-bottom: 30px;
}
.item:hover{
	display: block;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}
.item:hover .hover{
	visibility: visible;
	position: absolute;
	top: 45%;
	left: 30%;
	text-align: center;
}
.item img{
	transition: 0.3s;
	margin-top: 30px;
}
.item:hover img{
	position: absolute;
	bottom: 50%;
	right: 13%;
	transform: scale(0.3);
}
.item:hover .price{
	visibility: hidden;
	color: #ff5912;
}
.item:hover .name{
	position: absolute;
	top: 35%;
	left: 15%;
	font-weight: 800;
	color: #ff6833;
}
.hover{
	margin: 0 auto;
	visibility: hidden;
}
.color{
	display: flex;
	margin-left: 3%;	
	margin-bottom: 30px;
	margin-top: 45px;
}
.color a{
	padding: 7px;
	border-radius: 7px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.red{
	background: #e12e3f;
}
.black{
	background: #34404b;
}
.blue{
	background: #3ab3ff;
}
.green{
	background: #2fd967;
}
.red:fucus{
	background: red;
	border: 4px solid #34404b;
}
.black:focus{
	background: black;
	border: 4px solid #34404b;
}
.blue:focus{
	background: blue;
	border: 4px solid #34404b;
}
.green:focus{
	background: green;
	border: 4px solid #34404b;
}
.buy a{
	font-size: 16pt;
	color: #34404b;
	letter-spacing: 7px;
}
.buy a:hover{
	color: orange;
}
.price{
	font-size: 16pt;
	font-weight: 800;
	color: red;
}
.pagenum{
	display: flex;
	width: 95.5%;
	float: right;
	background-color: #fff;
	height: 50px;
	margin-bottom: 100px;
	justify-content: center;
	align-items: center;
}
.pagenum a{
	padding: 7px;
	background-color: orange;
	border-radius: 7px;
	margin-right: 15px;
}
.pagenum a:focus{
	background-color: #34404b;
}
.pagenum a:hover{
	background-color: #34404b;
}
.banner{
	display: flex;
	width: 1100px;
	padding: 50px;
	margin: 0 auto;
	height: 50px;
	background-color: #fff;
	margin-bottom: 50px;
}
.text{
	width: 60%;
}
.big{
	text-transform: uppercase;
	font-family: 'PT+Serif:700', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #ff5912;
	letter-spacing: 0px;
}
.small{
	font-family: 'KoHo', cursive;
	margin-left: 30px;
	font-size: 15pt;
}
.form{
	width: 40%;
	text-align: right;
}
.join{
	padding: 10px;
	background-color: #ff5912;
	outline: none;
	border: none;
	font-size: 14pt;
	cursor: pointer;
	color: white;
	font-weight: 600;
}
.form input{
	width: 280px;
	background:none;
	outline: none;
	border:none;
	line-height: 40px;
	border-bottom: 1px solid #34404b;
	font-size: 12pt;
}
footer{
	background-color: #fff;
	height: 200px;
}
.container2{
	display: flex;
	width: 1170px;
	margin: 0 auto;
}
.copyrigh{
	
	width: 25%;
	padding-top: 60px;
}
footer p{
	padding-top: 15px;
	letter-spacing: 2px;
	font-size: 8pt;
	color: grey;		
}
.list{
	width: 50%;
	display: flex;
	padding-top: 60px; 
}
.list ul li a{
	text-decoration: none;
	color: #34404b;
	font-size: 12pt;
}
.list ul li a:hover{
	color: orange;
}
.payment{
	width: 35%;
	text-align: right;
}
.payment p{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	font-size: 24pt;
	color: orange;
	font-style: italic;
	font-weight: 800;
}
.payment .card{
	cursor: pointer;
	font-size: 24pt;
	color: #34404b;
	letter-spacing: 5px;
}
.payment .card i:hover{
	color: orange;
}
Kết thúc cuộc trò chuyện
Nhập tin nhắn...