
body{
	background-color: #f4f6f8;
}
span{
	color: black
}
.section_1 a{	
	color: white;
	text-align: left;
}
.container{
	width: 1200px;
	margin: 0 auto;
	
}
.section_1_left{
	float:left;
	width: 50%;
	height: 100%;
	background-color: black;
}
.section_1_right{
	float:left;
	width: 52%;
	height: 100%;
	background-color: black;
}
.section_1_left img{
	transform: scale(0.5);
	position: absolute;
    left: 20px;
}
.section_1_right:hover a{
    text-decoration: none;
    color: white;
}
.section_1_left:hover a{
    text-decoration: none;
    color: white;
}
a{
	font-size: 20px;
	color: black;
	text-align: center;
	font-weight: 500; 
	font-family: 
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	
}
.section_1{
     width: 100%;
     height: 300px;
     background-color: red;
     position: fixed;
     top: 0;
     z-index: 9999;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #f4f6f8;color: black}
ul li:hover ul {display: block;}
ul li ul {
  background-color: #f4f6f8;
  position: absolute;
  width: 200px;
  display: none;
  top: 42px;
}
ul li ul li {  
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {
	background-color:#e4e6e8;
}
.section_1_1:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_1:hover ul>li>a{
    color: black;
}
.section_1_2:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_2:hover ul>li>a{
    color: black;
}
.section_1_3:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_3:hover ul>li>a{
    color: black;
}
.section_1_4:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_4:hover ul>li>a{
    color: black;
}
.section_2{
	width: 100%;
	margin-top: 64px;
	
	background-color: white;
}

.item1{
	background-color: #f4f6f8;
	width: 70px;
	height:90px;
	float: left; 
	text-align: center;
	margin:5px;
	padding:5px;
	border-radius: 0px;
	overflow: hidden;
}
.item1 img{
	width: 56px;
}
.item_1{
	width: 100%;
	height: 210px;
	background-color: white
}
.l1{color: black;
     text-align:left;
}
.l1 a{
	color: black;
}
.l2 {color: grey;
      font-size: 10px;
}
.item2{
	width: 100%;
	
}
.rate{
	width: 100%;
}
.size{
	float: left;
	text-align: center;
	margin: 5px;
}
.cart {
	width: 90%;
	height: 50px;
	margin: 15px;
	text-align: center;
	 font-size: 43px;
	background-color:grey;
}
.lienhe {
	margin-top: 20px;
}
.lienhe img{
	width: 40px;
	height: 40px;
}
.lienhe a{
	color: black;
	font-size: 40px
}
 
 .carousel-indicators img{
     width: 20px;
}

#carousel-indicators1 li {
	
	width: 60px;
	height: 80px;
}  
.carousel-inner{
	background-color: white;
}
.item1 div{
	position :relative;
}
#carousel-1{
	width: 521px;
	height: 721px;
	
}
#carousel-indicators1 li:nth-child(1){
	background-size: cover;
    background-image: url('images/sp1.jpg')
    ;
}
#carousel-indicators1 li:nth-child(2){
	background-size: cover;
    background-image: url('images/sp2.jpg');
}
#carousel-indicators1 li:nth-child(3){
	background-size: cover;
    background-image: url('images/sp3.jpg');
}
#carousel-indicators1 li:nth-child(4){
	background-size: cover;
    background-image: url('images/sp4.jpg');
}
#carouselExampleIndicators-2 li{
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.carousel-control-next-icon {
	background-color: black;
}
.carousel-control-prev-icon {
	background-color: black;
}
.btn-primary{
	border-color: white;
	background-color: white;
}
.question {
   font-size: 15x;
   color: black;
}
.question1 {
	font-size: 12px;
	color: grey;
}
.section_3 {
	width: 100%;
	margin-bottom: 20px
	}
#image {
  display:inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  
}
.image {
  display:inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Quick:hover #image {
  opacity: 0.3;
}
.Quick:hover .image {
  opacity: 0.3;
}
.quick:hover .middle {
  opacity: 1;
}
.quick img{
	width: 80%;
}
.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.col-lg-2{
	float: left;
	border: 1px solid;
	border-color: #f4f6f8;
}
#views{
	background-color: white;
	border-color: white;
	color: grey;
	font-size: 15px;
}


.section_10 {
	background-color:#f4f4f4;
     width :100%;
}
.pay img{
	width: 120px;
	height: 50px;
}

.lienhe2 img{
	width: 25px;
	height: 25px;
}
.section_10 a{
	color: black;
}
.section_10 span{
	font-family: ;
	font-size: 15px;
	position: relative;
	text-align: center;
	margin-left: 595px;
}
a:hover{
	text-decoration: none;
	color: black;
}