body{
	background-color: white;
}
p{
	margin: 0 auto;
}
a{
	font-size: 15px;
	color: white; 
	line-height: 22.5px;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;	
}
a:hover{
	text-decoration: none;
	color: white;
	outline: none;
}
a:focus{
    text-decoration: none;
	color: white;
}
.section{	
	width: 100%;
}
.container{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.section_1{
	position: fixed;
	z-index: 999;
}
.section_1_left{
	float:left;
	height: 100%;
	background-color: black;
}

.section_1_left img{
	transform: scale(0.5);
	position: relative;
    left: -71px;
}
.section_1_right:hover a{
    text-decoration: none;
    color: white;
}
.section_1_left:hover a{
    text-decoration: none;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #f4f6f8;color: black}
ul li:hover ul {display: block;}
ul li ul {
  background-color: #f4f6f8;
  position: absolute;
  width: 200px;
  display: none;
  top: 42px;
}
ul li ul li {  
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {
	background-color:#e4e6e8;
}
.section_1_1:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_1:hover ul>li>a{
    color: black;
}
.section_1_2:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_2:hover ul>li>a{
    color: black;
}
.section_1_3:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_3:hover ul>li>a{
    color: black;
}
.section_1_4:hover{
	background-color: #f4f6f8;
	color: black;
}
.section_1_4:hover ul>li>a{
    color: black;
}
.help-center-linked-list._container {
 position:relative;
 margin:0 auto
}
@media (max-width:959px) {
 .help-center-linked-list._container {
  width:720px
 }
}
@media (min-width:960px) and (max-width:1199px) {
 .help-center-linked-list._container {
  width:992px
 }
}
@media (min-width:1200px) {
 .help-center-linked-list._container {
  width:1140px
 }
}
.help-center-linked-list._title {
 margin-bottom:12px;
 font-size:24px;
 font-weight:300;
 color:#202020
}
.help-center-linked-list._items.-columns {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:space-between;
 font-size:0
}
.help-center-linked-list._items.-columns .help-center-linked-list._item {
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 padding:10px 10px 10px 15px;
 color:#202020;
 font-size:16px;
 position:relative
}
@media (max-width:959px) {
 .help-center-linked-list._items.-columns .help-center-linked-list._item {
  width:100%
 }
}
@media (min-width:960px) {
 .help-center-linked-list._items.-columns .help-center-linked-list._item {
  width:50%
 }
}
.help-center-linked-list._items.-columns .help-center-linked-list._item:before {
 position:absolute;
 top:15px;
 left:0;
 width:6px;
 height:6px;
 border-radius:50%;
 background:#202020;
 content:""
}
.help-center-linked-list._link {
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out;
 color:#202020;
 font-weight:300
}
.help-center-linked-list._link:hover {
 color:#1a9cb7;
 opacity:.7
}
.help-center-linked-list._items.-columns .help-center-linked-list._link {
 font-size:16px
}

.help-center-topic-list._block.-list {
 padding:25px 0
}
.help-center-topic-list._block.-grid {
 padding:40px 0 0
}
.help-center-topic-list._container {
 position:relative;
 margin:0 auto
}
@media (max-width:959px) {
 .help-center-topic-list._container {
  width:720px
 }
}
@media (min-width:960px) and (max-width:1199px) {
 .help-center-topic-list._container {
  width:992px
 }
}
@media (min-width:1200px) {
 .help-center-topic-list._container {
  width:1140px
 }
}
.help-center-topic-list._title {
 margin-bottom:12px;
 font-size:24px;
 font-weight:300;
 color:#202020
}
.help-center-topic-list._name {
 color:#202020;
 font-weight:300
}
.help-center-topic-list._block.-list .help-center-topic-list._name {
 position:absolute;
 top:50%;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%);
 font-size:16px;
 width:calc(100% - 46px);
 height:30px;
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden;
 line-height:30px;
 left:58px
}
.help-center-topic-list._block.-grid .help-center-topic-list._content {
 position:absolute;
 top:105px;
 left:5px;
 right:5px;
 text-align:center;
 display:block
}
.help-center-topic-list._block.-grid .help-center-topic-list._name {
 font-size:20px;
 text-align:center;
 line-height:24px;
 overflow:hidden;
 text-overflow:ellipsis;
 margin:0 0 10px;
 display:block
}
.help-center-topic-list._block.-grid .help-center-topic-list._description {
 color:#202020;
 text-align:center;
 line-height:1.36;
 font-weight:300;
 font-size:14px;
 display:block
}
.help-center-topic-list._block.-grid .help-center-topic-list._items {
 font-size:0
}
.help-center-topic-list._block.-list .help-center-topic-list._item:not(:first-child) {
 margin-top:12px
}
.help-center-topic-list._block.-grid .help-center-topic-list._item {
 display:inline-block;
 vertical-align:top
}
@media (max-width:959px) {
 .help-center-topic-list._block.-grid .help-center-topic-list._item {
  width:calc((100% - 30px)/3);
  padding:0 0 15px;
  margin:0 0 0 15px
 }
 .help-center-topic-list._block.-grid .help-center-topic-list._item:nth-child(3n+1) {
  margin-left:0
 }
}
@media (min-width:960px) {
 .help-center-topic-list._block.-grid .help-center-topic-list._item {
  width:calc((100% - 60px)/4);
  padding:0 0 20px;
  margin:0 0 0 20px
 }
 .help-center-topic-list._block.-grid .help-center-topic-list._item:nth-child(4n+1) {
  margin-left:0
 }
 .help-center-topic-list._block.-grid .help-center-topic-list._item.-column-3 {
  width:calc((100% - 40px)/3)
 }
 .help-center-topic-list._block.-grid .help-center-topic-list._item.-column-3:nth-child(4n+1) {
  margin:0 0 0 20px
 }
 .help-center-topic-list._block.-grid .help-center-topic-list._item.-column-3:nth-child(3n+1) {
  margin-left:0
 }
}
.help-center-topic-list._link {
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out;
 display:block;
 position:relative;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 border-radius:4px;
 border:1px solid #dadada
}
.help-center-topic-list._link:hover {
 background:#f6f6f6;
 opacity:.7
}
.help-center-topic-list._block.-list .help-center-topic-list._link {
 height:58px
}
.help-center-topic-list._block.-grid .help-center-topic-list._link {
 height:190px
}
.help-center-topic-list._icon-wrapper {
 position:absolute
}
.help-center-topic-list._block.-list .help-center-topic-list._icon-wrapper {
 left:-1px;
 top:-1px;
 height:58px;
 width:58px
}
.help-center-topic-list._block.-grid .help-center-topic-list._icon-wrapper {
 top:20px;
 height:72px;
 width:72px;
 left:calc(50% - 36px)
}
.help-center-topic-list._icon {
 position:absolute;
 left:50%;
 top:50%;
 -webkit-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.help-center-topic-list._block.-list .help-center-topic-list._icon {
 max-width:30px;
 max-height:30px
}
.help-center-chat._block {
 padding-bottom:30px
}
.help-center-chat._block.-center {
 padding:55px 0 40px
}
.help-center-chat._block.-center .help-center-chat._container {
 margin:0 auto;
 width:400px
}
.help-center-chat._title {
 font-size:24px;
 font-weight:300;
 color:#202020;
 margin-bottom:12px;
 line-height:29px
}
.help-center-chat._block.-center .help-center-chat._title {
 text-align:center;
 margin-bottom:17px
}
.help-center-chat._advice {
 color:#202020;
 font-weight:300;
 margin:0 0 14px;
 line-height:19px;
 font-size:14px
}
.help-center-chat._block.-center .help-center-chat._advice {
 text-align:center;
 margin:0 0 20px
}
.help-center-chat._buttons {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:space-between;
 font-size:0
}
.help-center-chat._block.-center .help-center-chat._buttons {
 display:block;
 text-align:center
}
.help-center-chat._button {
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 display:inline-block;
 vertical-align:top;
 text-align:center;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 height:40px;
 border-radius:3px;
 -webkit-transition:opacity .35s ease-in-out;
 transition:opacity .35s ease-in-out;
 cursor:pointer
}
.help-center-chat._button.-blue {
 background-image:-webkit-gradient(linear,left top,left bottom,from(#1a9cb7),to(#1692ac));
 background-image:linear-gradient(180deg,#1a9cb7,#1692ac)
}
.help-center-chat._button.-orange {
 background-color:#f57224
}
.help-center-chat._button.-ghost {
 background:none
}
.help-center-chat._button.-ghost.-blue {
 border:1px solid #1a9cb7
}
.help-center-chat._button.-ghost.-orange {
 border:1px solid #f57224
}
.help-center-chat._button:hover {
 opacity:.7
}
.help-center-chat._button:not(:first-child) {
 margin-left:4%
}
.help-center-chat._button-text {
 color:#fff;
 text-transform:uppercase;
 font-size:14px;
 display:table-cell;
 vertical-align:middle;
 padding:2px 10px;
 height:40px
}
@media (max-width:959px) {
 .help-center-chat._button-text {
  width:104px
 }
}
@media (min-width:960px) {
 .help-center-chat._button-text {
  width:150px
 }
}
@media (min-width:1200px) {
 .help-center-chat._button-text {
  width:162px
 }
}
.help-center-chat._block.-center .help-center-chat._button:not(:first-child) {
 margin-left:16px
}
.help-center-chat._block.-center .help-center-chat._button-text {
 width:auto;
 min-width:140px;
 max-width:180px
}
.help-center-chat._button.-ghost .help-center-chat._button-text {
 padding:1px 9px;
 height:40px
}
.help-center-chat._button.-ghost.-blue .help-center-chat._button-text {
 color:#1a9cb7
}
.help-center-chat._button.-ghost.-orange .help-center-chat._button-text {
 color:#f57224
}
.help-center-vote._result {
 font-size:13px;
 color:gray;
 margin-top:5px;
 font-weight:300
}
.help-center-vote._block {
 border-top:1px solid #dadada;
 padding:25px 0
}
.help-center-vote._block.-center {
 width:400px;
 text-align:center;
 margin:0 auto
}
.help-center-vote._description {
 display:inline-block;
 vertical-align:top;
 color:#202020;
 font-size:14px;
 line-height:17px;
 font-weight:300
}
.help-center-vote._buttons {
 display:inline-block;
 vertical-align:top;
 margin:0 0 0 15px;
 font-size:0
}
.help-center-vote._block.-center .help-center-vote._buttons {
 display:block;
 padding:13px 0 0;
 margin:0
}
.help-center-vote._button {
 display:inline-block;
 vertical-align:top;
 position:relative;
 cursor:pointer;
 width:22px;
 height:20px
}
.help-center-vote._button,
.help-center-vote._button:before {
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out
}
.help-center-vote._button:before {
 display:none;
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 content:"";
 background:#dadada;
 -webkit-mask-size:cover;
 mask-size:cover
}
.help-center-vote._button:not(:first-child) {
 margin-left:12px
}
.help-center-vote._button:hover {
 opacity:1
}
.help-center-vote._button.-blocked:hover {
 cursor:default
}
.help-center-vote._button.-actived,
.help-center-vote._button.-actived.-blocked:hover,
.help-center-vote._button.-actived:hover {
 opacity:.4;
 cursor:default
}
.help-center-vote._button._vote-icon {
 display:none
}
.help-center-vote._button.-up {
 margin-top:-2px
}

.help-center-vote._button.-up.-actived:before,
.help-center-vote._button.-up.-blocked.-actived:hover:before,
.help-center-vote._button.-up:hover:before {
 background:#478500
}
.help-center-vote._button.-up.-blocked:hover:before {
 background:#dadada
}

.help-center-vote._button.-down.-actived:before,
.help-center-vote._button.-down.-blocked.-actived:hover:before,
.help-center-vote._button.-down:hover:before {
 background:#df686e
}
.help-center-vote._button.-down.-blocked:hover:before {
 background:#dadada;
 opacity:1
}
.help-center-vote._block.-center .help-center-vote._button {
 width:34px;
 height:31px
}
.help-center-vote._block.-center .help-center-vote._button:not(:first-child) {
 margin-left:14px
}
.help-center-vote._vote-icon {
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out;
 position:absolute;
 left:0;
 top:0;
 width:22px;
 height:20px
}
.help-center-vote._button.-actived .help-center-vote._vote-icon,
.help-center-vote._button:hover .help-center-vote._vote-icon,
.help-center-vote._vote-icon.-actived {
 opacity:0
}
.help-center-vote._button.-actived .help-center-vote._vote-icon.-actived,
.help-center-vote._button:hover .help-center-vote._vote-icon.-actived {
 opacity:1
}
.help-center-vote._block.-center .help-center-vote._vote-icon {
 width:34px;
 height:31px
}
}
.section_4{
	background-color:#f4f4f4;
     width :100%;
}
.pay img{
	width: 120px;
	height: 50px;
}

.lienhe2 img{
	width: 25px;
	height: 25px;
}
.section_4 a{
	color: black;
}
.section_4 span{
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	position: relative;
	top: 90px;
	left: 455px;
}