*{
    padding: 0px;
    margin: 0px;
}
body{
    height: auto;
    width: 100%;
    font-size: 15px;
    /*padding: 0px;*/
    /*margin: 0px;*/
}

li{

    list-style: none;
    float: left;
}
/*.row{*/
    /*margin-left: -15px;*/
    /*margin-right: -300px;*/
/*}*/
.btn_tho:hover{
    background-color: white;
    color: red;
}
/*.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{*/
    /*color: red;*/
    /*background-color: white;*/
/*}*/
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    background-color: white;
}
.btn_tho{
    color: black;
    background-color: white;
    border: none;

}
a{
    text-decoration: none;
}
a img{
    width: 160px;
    height: 40px;
    /*margin-bottom: 20px;*/
    /*padding-bottom: 30px;*/
    /*padding-left: 8px;*/
}
li .col-sm-4{
    background: none;
    padding-left: 3px;
}
/*.row{*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/
.header-top{
    background:white;
}
.logo{
    padding-left:30px;
    /*padding-bottom: ;*/
}
.header-menu{
    padding:18px 7px;
    text-align: center;
    background: none;
    border: none;
    margin: 0px;
}
.test{
    border: none;
}
.header-menu a{
    padding: 25px;
    color: black;
}
.header-menu a li{
    padding: 40px;
}
.header-menu a:hover{
    /*background: #ff253a;*/
    text-decoration:none;
    color:red;
}
/*kết thúc phần header-top*/
/*bắt đầu phần header title*/
.item img{
    width:100%;
    height: 500px;
}
.open>.dropdown-menu{
    width: 661px;
    height: 200px;
}
 .game{
    width: 176px;
    height: 140px;
     /*padding-right: 10px;*/
}
.row{
    /*mari*/
}
/*.item img #site-user-profile {*/
    /*!*background : url('../img/placeholders/menu/bg_user_profile.png') no-repeat center center;*!*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/
/*.nav .open>a .nav .open>a:hover{*/
    /*background-color: none;*/
/*}*/
h1{
    margin-top: 5px;
}
.nen{
    /*border-right: 1px solid black;*/
    width: 200px;
    height: 150px;
}
li .col-sm-6{
    margin-bottom: 20px;
    border-right: 1px solid black
}
.col-sm-12 h1.ve{
    text-align: center;
}
.vechungtoi .col-sm-4{
    height: 559px;
}
.vechungtoi{
    background-color:#f8f9fa;
    background: url("anh/len.png");
}