body{
	background-color: red;
}
div{
	background-color: white;
}
img{
	width: 70px;
}
a{
	font-size: 15px;
	color: gray;
	font-weight: 700; 
	font-family: Arial;
	line-height: 22.5px;
	text-decoration: none;
	text-align: center;
}