body{
	background-color: #f4f6f8;
}
.section{
	float: left;
	width: 100%;

}

div{
	text-align:center;
}
a{
font-size: 15px;
color:black;
font-weight: 700;
line-height: 22.5px;
text-decoration: none;
}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1350px;
	margin: 0 auto;
    
    height: 100%; 
}
.section_1{
	font-family: 'Mukta Mahee', sans-serif;
	background-color: #f4f6f8;
	height: 100px;
}
.section_1_left{
	float:left;
	width: 50%;
	height: 100%;
	background-color: white;
}
.section_1_right{
	float:right;
	width: 50%;
	height: 100%;
	background-color: white;
}
.ss1{
	background-color: #f4f6f8;
	margin-bottom: 2px;
	width: 100%;
	height: 98%;
}
.Mail{
	width: 18px;
	height: 11px; 
	margin-left: 40px;
	margin-top: 35px;
}	
.Mail1{ 
	float: left;
}
.Mail1 a{
	font-size: 13px;
	color: black;
	font-weight: 700;
}
.Phone{
	width: 12px;
	height: 12px;
	margin-right: none;
	margin-top: 35px;
}
.Phone1{
	float: left;
	margin-left: 10px;
}
.Phone1 a{
	font-size: 13px;
	color: black;
	font-weight: 700;
}
.Instargram{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 40px;
}
.Gmail{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Twitter{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Facebook{
	width: 11px;
	height: 11px;
	float: right;
	margin-top: 35px;
	margin-right: 15px;
}
.Logo{
	text-align: center;
	margin-top: 27.5px;
}
.section_2{
	background-color: white;
	height: 100px;
	font-family: 'Patrick Hand', cursive;
}
.section_2_1{
	float:left;
	width: 20%;
	height: 100%;
	background-color: white;
}
.section_2_2{
	float:left;
	width: 60%;
	height: 100%;
	background-color: white;
}
.section_2_3{
	float:left;
	width: 20%;
	height: 100%;
	background-color: white;
}
.section_2_2{
		margin-top: 35px;

}
.section_2_2 a{
	color: black;
	font-size: 20px;
	float: left;
	font-weight: 500;


}
.s_2_2_1{
	margin-right: 35px;
}
.s_2_2_2{
	margin-right: 35px;
}
.s_2_2_3{
	margin-right: 35px;
}
.s_2_2_4{
	margin-right: 35px;
}
.s_2_2_5{
	margin-right: 35px;
}
.Cart{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 35px;
	margin-right: 30px;
}
.User{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 35px;
	margin-right: 30px;
}
.Search{
	width:18px ;
	height:18px ;
	float: right;
	margin-right: 30px;
	margin-top: 35px;
}
.section_3{
	float: left;
	width: 100%;
	height: 400px;
}
.section_3_left{
	float: left;
	width: 60%;
	height: 100%;
}
.section_3_left div{
	text-align: left;
}
.section_3_left a{
	font-family: 'Noto Sans', sans-serif;
}
.section_3_right{
	float: left;
	text-align: left;
	width: 40%;
	height: 100%;
}
.section_4{
	float: left;
	width: 100%;
	height: 175px;
	background-color: #f4f6f8;
}
.section_5{
	height: 100px;
	width: 100%;
	height: 400px;
	background-color: #f4f6f8;
}
.chon_item{
	float: left;
	margin-left: 67px;
}
.item1{
    background-color: white;
	width: 260px;
	height: 250px;
	float: left; 
	text-align: center;
	margin:15px;
	padding:15px;
	border-radius: 0px;
	overflow: hidden;
}
.item1 img{
	width: 130px;
}
.item1 img{
	transition: 2s all;
}
.item1 .box > div{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	display: inline-block;
}
.item1 .mua > div{
	width: 30px;
	height: 30px;
	display: inline-block;
}
.item1:hover .mua i {
	transform: translateY(-80px);
}

.item1 *{
	transition: 2s all;
}
.item1:hover img{
	transform:scale(0.5) translateY(-100px);
}
.item1:hover figcaption{
	transform: translateY(-100px);
	color: pink;
}
.item1:hover span{
	display: none;
}
.item1:hover p{
	transform: translateY(-80px);
}
.item1:hover .box{
	transform: translateY(-80px);
}
.next{
	float: left;
	margin-left: 80px;
	width: 93%;
	height: 50px;
	background-color: pink;
}
.next{
    background-color: white;
    height: 60px;
}
.section_6{
	width: 100%;
	height: 100px;
}
.section_7{
	width: 100%;
	height:250px; 
	background-color: #f4f6f8;
	text-align: center;
}
.section_8{
	width: 100%;
	height: 250px;
	margin-left: 30px;
	text-align: center;
	 background-color: #f4f6f8;
}
.section_6_left{
	float: left;
	height: 100%;
	width: 50%;
	background-color: white;
	margin-left: 80px;
}
.section_6_right{
	float: right;
	margin-right: 20px;
	height: 100%;
	width: 40%;
	background-color: white;
	text-align: center;
}
.sale {
	margin-right: 20px;
	margin-top: 30px;
    float: right;
    
}
.sale1{
	float: left;
    margin-left: 90px;
    
}
.sale2{
	float: right;
	margin: 15px;
	margin-top: 40px;
}
.sale2 a{
	font-size: 30px;
	font-weight: bold;
}
.adv a{
    font-size: 20px;
    margin: 10px;
}
.adv{
	margin: 30px;
}
.title{
	margin-top:80px;
}
.title1{
	padding: 20px;
}
.title1 a{
	font-size: 40px;
	font-weight: 100px;
	margin: 15px;
	font-weight: bold;
}
.item{
	background-color: white;
	width: 393px;
	height: 150px;
	float: left; 
	text-align:left;
	margin:15px;
	overflow: hidden;
 
}
.item_left{
	float: left;
	margin-left: 30px;
	margin-top: 40px;
}
.checked {
    color: orange;
}
.item_right{
	float: right;
	margin-right: 50px; 
	margin-top:40px;
}
.rate{
	margin-top: 30px;
}
.gia{
	margin-left: 22px;
}
.add{
	text-align: center;
	margin: 20px;
	padding: 15px;
	display: inline-block;
}
.add a{
	font-size: 20px; 
}
.item_right * {
	transition: 200ms all;
} 
.item_right:hover .add {
	transform: translateY(-50px);
}
.item:hover span{
	display: none;
}

.section_9{
	height: 200px;
	
}
.thamgia{
	float: left;
	margin-top: 30px;
	margin-left: 55px;
	background-color: white;
	text-align: center;
	width: 92%;
	height: 50%;
}
.thamgia1{
	float: left;
	text-align: left;
	margin-left: 20px;
	background-color: white;
	height: 100%;
}
.thamgia2{
	float: right;
	width: 40%;
	height: 100%;
}

.n{ 
	margin-top: 30px;
    margin-left: 15px;
	text-align: left;
	font-size: 25px;

}
.join{
	text-align: center;
	background-color: #ff5912;
	width: 100px;
	height: 40px;
}
.n1{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
}
.thu{
	float: left;
	margin-top: 36px;
}

.v{
	margin-top: 35px;
}
.ten{
	text-align: center;
}

.section_10{
	background-color: white;
	height: 200px;
}
.dcuoi{
	width: 100%;
	height: 100%;
	background-color: white;
}
.cuoi1{
	margin-bottom: 30px;
	margin-left: 10px;
}
.cuoi_1{
	margin-top: 30px;
	width: 26%;
	float: left;
	margin-left: 60px;
	text-align: left;
}
.cuoi_1 a{
	font-size: 10px;
	margin-bottom: 5px;
	font-family: Arial;
	text-align: center;
}
.cuoi_1 img{
	margin-right: 50px;
}
.cuoi_2{
	background-color: white;
	height: 100%;
	float: left;
	text-align: left;
}
.cuoi_2 ul{
	margin-top: 40px;
}

.cuoi_21{
	float: left;
	text-align: left;
	height: 100%;
}
.cuoi_22{
	text-align: left;
	float: left;
    height: 100%;
}
.cuoi_23{
	text-align: left;
	float: left;
	height: 100%;
}
.cuoi_3{
	height: 100%;
	float: left;
	margin-left: 263px;
}
.cuoi_3 a{
	font-size: 20px;
}
.cuoi_3 img{
    width: 32px;
    height: 23px;
}
