body{
	margin: 0;
	padding: 0;
	background-color: pink;
}
section{
	display: flex;
}
nav:hover{
	background-color: yellowgreen
}
nav{
	position: fixed;
	display: flex;
	width: 100%;
	height: 70px;
	padding: 0;
	background-color: rgba(255,255,255,0.4);
	
}
.logo:hover{
	color: #fff;
	cursor: pointer;
	border-bottom: solid red 3px;
}
.logo{
	text-transform: uppercase;
	font-family: sifonn;
	font-size: 48px;
	margin: 10px 5px; 
	margin-left: 50px;
	color: red;
}
nav ul {
	margin: 30px 105px;
	list-style: none;
	display: flex;
	margin: 30px auto;
}
nav ul li a:hover{
	color: red;
}
nav ul li a{
	text-decoration: none;
	margin-left: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #fff;
	transition: 0.3s;
}
.login:hover{
	color: red;
}
.login{
	text-decoration: none;
	margin-left: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #fff;
	transition: 0.3s;
	padding: 7px;
	border: solid 5px;
	border-radius: 15px;
}
div:hover{
	border: solid red 5px;
}
div{
	margin: 20px 50px;
	display: block;
	right: 10px;
	transform: translate(-50% -50%);
	width: 300px;
	height: 400px;
	background-color: #fff;
	border: solid grey 5px;
	border-radius: 50px;
	margin-left: 60px;
}
img:hover{
	transform: scale(1.5);
}
img{
	display: block;
	margin: 10px auto;
	margin-top: 5px;
	padding: 10px;
	transition: 0.3s;
}
h3:hover{
	color: rgb(255,0,255);
}
h3{
	text-align: center;
	font-family: sifonn;
	font-size: 14pt;
}
button{
	display: block;
	outline: none;
	width: 150px;
	padding: 5px;
	border-radius: 15px;
	background-color: blue;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 1px auto;
	font-size: 10px;
	cursor: pointer;
	transition: 0.2s;
}
button:hover{
	background-color: rgba(0,0,255,0.5);
	color: red;
	transform: scale(1.5);
}
footer{
	margin: 100px 0 10px;
	background-color: blue
	height: 30px;
	color: grey;
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
}


